In [454]:
3e4 = 3 * 10000
3e-4 = 3 * 1/10000
print(0o123) # octal - 83
print(0x123) # hexadecimal  - 291
/ #standart division - float qaytarir
// # integer division 2 // 5 = 0 ozunden yuxariya bolende 0 olur
% # modulus devision - tam bolunursa 0
#                 - bolunmurse qalighi gosterecek
7 % 16 = 7
7 % 20 = 7
5 % 10 = 5
20 % 30 = 20

# remember
1 / 1  = 1.0
1 // 2 = 0
1 / 2  = 0.3333333333333333
1 % 2  = 1
2 % 1  = 0
3 % 4  = 3 - #  kichik olarsa ilk yeni reqemin ozu qalir
3 / 4  = 0.75
3 // 4 = 0
5 / 0  - # bolmek olmaz(error)
2 + 3.0  # 5.0 float qaytaracaq

multiplication - vurma
# addition and subtraction
print(2 + 7)
print(3 - 8)
# numeric operators
# exponentiation - quvvete yukseltme
2 ** 10 - 2ustu10 demekdir # 

age *= 2 # age-nedirse onu 2-ye vurursan
age += 2 # eynile +2
age /+ 2 # eynile bol 2-ye demekdir
# string concatenation = joining strings

# input() - always return strings
print('23'+'5') # bu zaman string olur reqem kimi gormur

2 ** 2 ** 3 - # righ-sided binding - saghdan sola hesablayir

# there are six BITWISE operators
& - ampersand
| - ball
~ - tilde
^ - carrot
<< - left shift
>> - right shift

and or-dan ustundu 1ci and hesablanir sonra or-a baxilir

# 3 types of collections
#list
#tuples
#dictionaries
# : - slicing

book_ratings = [7, 9, 5, 6, 8]
book_ratings.append(4)         - # listde hemishe axira add edir
print(book_ratings)

book_ratings = [7, 9, 5, 6, 8]
book_ratings.insert(1, 4)      - # listde [0,1] 1-ci index-e 4-u elave ele
print(book_ratings)

top_cities = ['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
print(sorted(top_cities)) # keeps original list
print(top_cities)

list_original = [1, 2, 3]
list_new = list_original[:]   # For keep original list add slicing [:]
list_original[0] = -5
print('Original:', list_original, '\nNew', list_new)

tuple and strings are immutable # cannot delete and add
list are mutable # 

spanish_animals = {
    'dog': 'el perro',
    'cat': 'el gato',
    'horse': 'el caballo',
    'bird': 'el p√°jaro',
    'bird': 'el ave'
     }
print(spanish_animals['el perro'])  - # bu formada vere bilmersen, ilk key: gostermelisen value almaq uchun.

#factorial
# 3! = 1 * 2 * 3 = 6
# 5% = 1 * 2 * 3 * 4 * 5 = 120
1! = 1
2! = 2 * 1!
3! = 3 * 2!
4! = 4 * 3!
5! = 5 * 4!

# Generator
def get_number(): 
    for i in range(1, 4):
        yield i
generator = get_number()
print(next(generator))
print(next(generator))
print(next(generator))
print(next(generator))

for x in get_number():
    print(x)
    
number = list(get_number())
print(number)

####. IndentationError: is a type of SyntaxError
####. IndexError: list index out of range ( range-den yuxari reqem ve ya olmayan nese yazanda

assert - using for debbuging and documenting your code

The backslash (\) has a very special meaning when used inside strings - this is called the escape character.

positional parametr is --- position
litterals  -- herfler
keyword parametr --

SyntaxError: cannot assign to literal (3905029136.py, line 1)

In [75]:
print('Hello, Wolrd')

Hello, Wolrd

In [8]:
print('I\'m\nstudinyg')
print()
print('and having fun')

I'm
studinyg

and having fun

In [14]:
print('I\'m studying python','and having fun')

I'm studying python and having fun

In [16]:
print('I\'m studying\npython')

I'm studying
python

In [19]:
greeting = 'Hello Friend!'
print(greeting)
greeting = 'Hi, everybody'
print(greeting)

Hello Friend!
Hi, everybody

In [20]:
greeting
Greeting

'Hi, everybody'

In [21]:
from = 'aa'

SyntaxError: invalid syntax (2721849276.py, line 1)

In [22]:
greeting = 'Hello friend'

In [23]:
age = 35

In [24]:
speed = 4.5
speed2 = 4.0
speed3 = 4. # 4.0
speed4 = 4

In [25]:
am_i_ugly = True

In [26]:
1200030
12_000_300

12000300

In [61]:
# power operator
2 ** 3

8

In [56]:
6 //2

3

In [58]:
7 // 2

3

In [466]:
2 // 2

1

In [68]:
1//3

0

In [472]:
4 // 0.5

8.0

In [79]:
3 / 4

0.75

In [473]:
3 // 4

0

In [81]:
3 % 4

3

In [67]:
1/3

0.3333333333333333

In [65]:
6 / 2

3.0

In [59]:
6 % 2

0

In [60]:
7 %2

1

In [72]:
13 % 1

0

In [73]:
2 % 1

0

In [70]:
1 % 7

1

In [34]:
2**3

8

In [33]:
5 / 0 - bolmek olmaz

ZeroDivisionError: division by zero

In [35]:
2 + 3.0

5.0

In [36]:
2.0 + 3.0

5.0

In [471]:
0 // 5

0

In [ ]:
# assignments and shortcut operators
age = 25
age = age + 5
age += 5
age *= 2

In [63]:
age = 28
age = age + 3
print(age)

31

In [41]:
age=28
age += 3
print(age)

31

In [44]:
# string concatenation = joining strings
text = 'hokus' + 'pokus'
print(text)

hokuspokus

In [45]:
print('hokus' * 5)

hokushokushokushokushokus

In [46]:
print(23+5)

28

In [47]:
print('23'+'5') # bu zaman string olur reqem kimi gormur

235

In [50]:
print('What is your name?')
user_name = input()
print('Hello', user_name)

What is your name?
 Ilkin
Hello Ilkin

In [55]:
user_name= input(' What is your name?')
print('Hello,', user_name )

 What is your name? 2
Hello, 2

In [66]:
first_name = 'John'
print('Your', 'first', 'name', 'is', first_name, 'Welcome!', sep='-', end='!')

Your-first-name-is-John-Welcome!!

In [84]:
#  available logical operators
#
#  <  less than
#  >  greater than
#  <= less than or equal
#  >= greater than or equal
#  == equals
#  != not equals

password = input('Do you know the secret password? ')
if password != '--secret':
    print('not correct')
else:
    print('correct password')

Do you know the secret password?  afa
not correct

In [87]:
if True:
    print('Condition met')

Condition met

In [89]:
if False:
    print('Condition met')

In [90]:
if 2 == 2:
    print('true')

true

In [92]:
if 1 == 2:
    print('true')

In [93]:
if 2 == 2.0:
    print('true')

true

In [96]:
user_age = int(input('What is your age? '))
user_country = input('What is your country? ')

if user_age < 25 and user_country == 'Germany':
    print('You can apply for a Germany student program')
else:
    print('Sorry you dont qualify')

What is your age?  24
What is your country?  Germany
You can apply for a Germany student program

In [112]:
user_country = input('Where do you come from? ')
if not user_country == 'Germany':
    print('you are not from Germany')
else:
    print('you are from Germany')

Where do you come from?  Germany
you are from Germany

In [100]:
user_age = int(input('What is your age '))
user_country = input('What is you country? ')

if ((not user_country == 'Germany') and user_age) < 25 or \
(user_country == 'Germany' and user_age < 23):
    print('You qualify')
else:
    print('You don\'t qualify!')

What is your age  23
What is you country?  Germany
You qualify

In [110]:
user_age = int(input('What is your age '))
user_country = input('What is you country? ')

if not user_country == 'Germany' and \
user_age < 25 or \
user_country == 'Germany' and user_age < 23:
    print('You qualify')
else:
    print('You don\'t qualify!')

What is your age  21
What is you country?  Thialand
You qualify

In [ ]:
# boolean operators has priorities
# 1. not
# 2. and
# 3. or

In [122]:
answer_a = input('Do you like travelling? y/n: ')
if answer_a == 'y':
    answer_b = input('And you like Asia? y/n: ')
    if answer_b == 'y':
        print('Excellent! You can win a ticket to Thailand')
    else:
        print('Sorry hear that!')     
else:
    print('Sorry hear that')

Do you like travelling? y/n:  n
Sorry hear that

In [219]:
purchase_days_ago = int(input('How many days ago have you purchased the item? '))
is_used = input('Have you used the item at all [y/n]? ')
is_broken = input('Has the item broken down on its own [y/n]? ')
 
if(is_broken == 'y' or (purchase_days_ago <= 10 and is_used == 'n')):
  print('You can get a refund.')
else:
  print('You cannot get a refund.')

How many days ago have you purchased the item?  10
Have you used the item at all [y/n]?  y
Has the item broken down on its own [y/n]?  y
You can get a refund.

In [ ]:
counter = 1
while counter < 11:
    print(counter)
    counter +=1
print('Finished')

In [ ]:
secret_number = 14
user_input = int(input('Try to guess the secret number from 0 to 20: '))
while user_input != secret_number:
    print('Wrong!')
    user_input = int(input('Try to guess my secret number from 0 to 20'))
print('Perfect! You have guessed the secret number.')

In [1]:
print('*')

*

In [ ]:
answer = 0
while True:
    answer = int(input('When was Python 1.0 released? '))
    if answer > 1994:
        print('It was earlier than that!')
    elif answer < 1994:
        print('It was later than that!')
    else:
        print('Correct!')
        break

In [18]:
# 3 types of collections
#list
#tuples
#dictionaries
# : - slicing


city_1 = 'New York City'
city_2 = 'Los Angeles'
city_3 = 'Chicago'
city_4 = 'Houston'
city_5 = 'Phoenix'

In [4]:
empty_list = []

In [6]:
top_cities = ['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
print(top_cities)

['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']

In [10]:
top_cities[0:2]

['New York City', 'Los Angeles']

In [11]:
top_cities[0]

'New York City'

In [17]:
top_cities

['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']

In [13]:
top_cities[-5]

'New York City'

In [14]:
top_cities[:3]

['New York City', 'Los Angeles', 'Chicago']

In [16]:
top_cities[2:]

['Chicago', 'Houston', 'Phoenix']

In [19]:
top_cities[10:14]

[]

In [20]:
top_cities[0:1]

['New York City']

In [27]:
top_cities = ['New York City', 'Los Angeles', 'Singapore', 'Chicago', 'Houston', 'Phoenix']
del top_cities[2]
print(top_cities)

['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']

In [26]:
top_cities

['New York City', 'Los Angeles', 'Houston', 'Phoenix']

In [56]:
top_cities = ['New York City', 'Los Angeles', 'Singapore', 'Chicago', 'Houston', 'Phoenix']
del top_cities[:]
print(top_cities)

[]

In [57]:
book_ratings = [7, 9, 5, 6, 8]
book_ratings.append(4)
print(book_ratings)

[7, 9, 5, 6, 8, 4]

In [63]:
book_ratings = [7, 9, 5, 6, 8]
book_ratings.insert(2, 10)
print(book_ratings)

[7, 9, 10, 5, 6, 8]

In [66]:
top_cities = ['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
for city in top_cities:
    print('Current city:', city)

Current city: New York City
Current city: Los Angeles
Current city: Chicago
Current city: Houston
Current city: Phoenix

In [69]:
top_cities = ['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
for city_index in range(len(top_cities)):
    print('Current index:', city_index, '| Current city:', top_cities[city_index], )

Current index: 0 | Current city: New York City
Current index: 1 | Current city: Los Angeles
Current index: 2 | Current city: Chicago
Current index: 3 | Current city: Houston
Current index: 4 | Current city: Phoenix

In [70]:
spendings = [32.45, 18.65, 23.45, 78.32, 5.23]
sum = 0.0
for spending in spendings:
    sum += spending
print('Money spent:', sum)

Money spent: 158.1

In [82]:
spendings = [1346.0, 987.50, 1734.40, 2567.0, 3271.45, 2500.0, 2130.0, 2510.30, 2987.34, 3120.50, 4069.78, 1000.0]
sum = 0
c_low = 0
c_mid = 0
c_high = 0
for i in spendings:
    if i < 1000:
        c_low += 1
        sum += i
    if i >= 1000 and i <= 2500:
        c_mid += 1
        sum += i
    if i > 2500:
        c_high += 1
        sum += i
print('Numbers of months with low spendings: ', c_low, ', normal spendings: ', c_mid, ', high spendings: ', c_high, '.', sep='')
print('Money spent: ', sum)

Numbers of months with low spendings: 1, normal spendings: 5, high spendings: 6.
Money spent:  28224.269999999997

In [89]:
first = input('Enter first number: ')
second = input('Enter second number: ')
print('Before swapping:', first, second )
first = second
second = first
print('After swapping:', first, second)

Enter first number:  10
Enter second number:  20

Before swapping: 10 20
After swapping: 20 20

In [90]:
first = input('Enter first number: ')
second = input('Enter second number: ')
print('Before swapping:', first, second)
temporary = first
first = second
second = temporary
print('After swapping:', first, second)

Enter first number:  10
Enter second number:  20

Before swapping: 10 20
After swapping: 20 10

In [91]:
first = input('Enter first number: ')
second = input('Enter second number: ')
print('Before swapping:', first, second)
first, second = second, first
print('After swapping:', first, second)

Enter first number:  10
Enter second number:  20

Before swapping: 10  20
After swapping: 20  10

In [94]:
top_cities = ['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
top_cities[0], top_cities[4] = top_cities[4], top_cities[0]
print(top_cities)

['Phoenix', 'Los Angeles', 'Chicago', 'Houston', 'New York City']

In [98]:
random_numbers = [2, 5, 7, -2, 0, 4]
random_numbers.sort()
print(random_numbers)

[-2, 0, 2, 4, 5, 7]

In [99]:
random_numbers = [2, 5, 7, -2, 0, 4]
print(sorted(random_numbers))

[-2, 0, 2, 4, 5, 7]

In [97]:
top_cities = ['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
print(sorted(top_cities))
print(top_cities)

['Chicago', 'Houston', 'Los Angeles', 'New York City', 'Phoenix']
['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']

In [101]:
for char in 'happy birthday':
    print(char)

h
a
p
p
y

b
i
r
t
h
d
a
y

In [115]:
invited_guests = ['Kate', 'Adam', 'Kerry', 'Joe', 'Anne', 'Marie']
name = input('What is your name? ')
if name not in invited_guests:
    print('You are not invited!')
else:
    print('Welcome!')

What is your name?  asdf

You are not invited!

In [117]:
invited_guests = ['Kate', 'Adam', 'Kerry', 'Joe', 'Anne', 'Marie']
name = input('What is your name? ')
if name in invited_guests:
    print('Welcome')
else:
    print('You are not invited!')

What is your name?  Anne

Welcome

In [118]:
name_original = 'John Snow'
name_new = name_original
name_original = 'Daenerys Targaryen'
print(name_original, name_new)

Daenerys Targaryen John Snow

In [120]:
list_original = [1, 2, 3]
list_new = list_original
list_original[0] = -5
print('Original:', list_original, '\nNew', list_new)

Original: [-5, 2, 3]
New [-5, 2, 3]

In [121]:
list_original = [1, 2, 3]
list_new = list_original[:]
list_original[0] = -5
print('Original:', list_original, '\nNew', list_new)

Original: [-5, 2, 3]
New [1, 2, 3]

In [125]:
list_original = [1, 2, 3]
list_new = list_original[:] # for copy add slicing

In [126]:
numbers = [1, 2, 3 , 4]
for i in range(1, 101):
    numbers.append(i)
print(numbers)

[1, 2, 3, 4, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [141]:
numbers = [i for i in range(1, 101)]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [142]:
numbers = [i for i in range(1, 101) if i % 3 != 0]
print(numbers)

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25, 26, 28, 29, 31, 32, 34, 35, 37, 38, 40, 41, 43, 44, 46, 47, 49, 50, 52, 53, 55, 56, 58, 59, 61, 62, 64, 65, 67, 68, 70, 71, 73, 74, 76, 77, 79, 80, 82, 83, 85, 86, 88, 89, 91, 92, 94, 95, 97, 98, 100]

In [129]:
numbers = [1, 2, 3, 4]

In [130]:
countries = ['UK', 'US', 'Germany' ]

In [131]:
countries = [1, 'UK', 2, 'US']

In [132]:
cells = [['A1', 'A2', 'A3'], ['B1', 'B2', 'B3']]

In [133]:
cells[0]

['A1', 'A2', 'A3']

In [134]:
cells[0][0]

'A1'

In [135]:
cells[0][1]

'A2'

In [138]:
cells[1][2]

'B3'

In [139]:
cells = [['A1', 'A2', 'A3'], ['B1', 'B2', 'B3']]
for x in cells:
    print('Element:',x)

Element: ['A1', 'A2', 'A3']
Element: ['B1', 'B2', 'B3']

In [149]:
cells = [['A1', 'A2', 'A3'], ['B1', 'B2', 'B3']]
for x in cells:
    for y in x:
        print('Element:', y)

Element: A1
Element: A2
Element: A3
Element: B1
Element: B2
Element: B3

In [153]:
table = [['A1', 'A2', 'A3'], ['B1', 'B2', 'B3']]
for row in table:
    for cell in row:
        print('Element:', cell)

Element: A1
Element: A2
Element: A3
Element: B1
Element: B2
Element: B3

In [154]:
table = [['A1', 'A2', 'A3'], ['B1', 'B2', 'B3']]
for row in table:
    for cell in row:
        print(cell, '', end='')
    print()

A1 A2 A3
B1 B2 B3

In [155]:
table = [[i for i in range(1, 6)] for j in range(4)]
print(table)

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]

In [156]:
list_us = ['New York City', 'Chicago']
list_uk = ['London', 'Bristol']
list_all = list_us + list_uk
print(list_all)

['New York City', 'Chicago', 'London', 'Bristol']

In [157]:
list_numbers = [0, 1] * 10
print(list_numbers)

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

In [158]:
fav_band = 'Green Day'
print(fav_band[6])

D

In [159]:
print(fav_band[:6])

Green

In [160]:
fav_band[6] = 'M'

TypeError: 'str' object does not support item assignment

In [162]:
text = 'please capitlise me'
text_cap = text.upper()
print(text_cap)

PLEASE CAPITLISE ME

In [164]:
user_number = input('Please provide a number: ')
if user_number.isnumeric():
    print('Thank you that\'s a correct number')
else:
    print('Sorry,', user_number, 'is not a number')

Please provide a number:  12

Thank you that's a correct number

In [166]:
empty_tuple = ()

In [167]:
one_el_tuple_a = (1,)

In [168]:
one_el_tuple_b = 1,

In [172]:
three_el_tuple = 1, 2, 3,

In [173]:
print(three_el_tuple)

(1, 2, 3)

In [175]:
user_data = ('John', 'American', 1964)
user_data = ('Katya', 'Russian', 1980)

In [177]:
user_data.append('w')

AttributeError: 'tuple' object has no attribute 'append'

In [178]:
del user_data[0]

TypeError: 'tuple' object doesn't support item deletion

In [180]:
print(user_data[0])

Katya

In [181]:
user_data[0] = 'Mark'

TypeError: 'tuple' object does not support item assignment

In [184]:
message = 'welcome'

In [183]:
message = 'Welcome'

In [185]:
message[0] = 'w'

TypeError: 'str' object does not support item assignment

In [186]:
user_data = ('John', 'American', 1964)
print(len(user_data))

3

In [192]:
user_data = ('John', 'American', 1964)
if 'American' in user_data:
    print('This person is from US')

This person is from US

In [193]:
user_data = ('John', 'American', 1964)
for element in user_data:
    print(element)

John
American
1964

In [194]:
user_data = ('John', 'American', 1964) + ('teacher', 'male')
print(user_data)

('John', 'American', 1964, 'teacher', 'male')

In [195]:
numbers = (0, 1) * 10
print(numbers)

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [196]:
male_name = ['Adam', 'Jerry', 'Mark']

In [197]:
berlin_temps = [13.0, 17.5, 12.0]

In [198]:
user_data = ('John', 'American', 1964)

In [199]:
first = 5
second = 7
first, second = second, first

In [200]:
city_1 = ('London', 'UK', 8.98)

In [201]:
city_2 = ('Canberra', 'Australia', 0.4)

In [202]:
city_3 = ('Algiers', 'Algeria', 3.9)

In [203]:
capitals = [('London', 'UK', 8.98), ('Canberra', 'Australia', 0.4), ('Algiers', 'Algeria', 3.9)]

In [204]:
for capital in capitals:
    print('Name:', capital[0], 'Country:', capital[1], ', Population', capital[2])

Name: London Country: UK , Population 8.98
Name: Canberra Country: Australia , Population 0.4
Name: Algiers Country: Algeria , Population 3.9

In [205]:
user_data = ('John', 'American', 1964, [77.0, 78.2, 77.5])

In [214]:
user_data[3].append(79.6)√ü

In [215]:
print(user_data)

('John', 'American', 1964, [77.0, 78.2, 77.5, 79.6, 79.6, 79.6])

In [217]:

connections = [
    ('Amsterdam', 'Dublin', 100),
    ('Amsterdam', 'Rome', 140),
    ('Rome', 'Warsaw', 130),
    ('Minsk', 'Prague', 95),
    ('Stockholm', 'Rome', 190),
    ('Copenhagen', 'Paris', 120),
    ('Madrid', 'Rome', 135),
    ('Lisbon', 'Rome', 170),
    ('Dublin', 'Rome', 170),
    ]

count = 0
time = 0
for city_to in connections:
    if city_to[1] == 'Rome':
        count += 1
        time  += city_to[2]
    else:
        continue
average = time / count 
print(count, 'connections lead to Rome with an average flight time of', average, 'minutes')

5 connections lead to Rome with an average flight time of 161.0 minutes

In [453]:
connections = [
    ("Amsterda", "Dublin", 100),
    ("Amsterdam", "Rome", 140),
    ("Rome", "Warsaw", 130),
    ("Minsk", "Praque", 95),
    ("Stockholm", "Rome", 190),
    ("Copenhagen", "Paris", 120),
    ("Madrid", "Rome", 135),
    ("Lisbon", "Rome", 170),
    ("Dublin", "Rome", 170)
]
rome = 0
total_to_rome = 0

for flight in connections:
    if flight[1] == "Rome": # index that indicate to_city Rome
        total_to_rome += flight[2]
        rome += 1

average_to_rome = total_to_rome / rome

print(f"{rome} connections lead to Rome with an  tine of {average_to_rome} minutes ")

5 connections lead to Rome with an  tine of 161.0 minutes

In [218]:
emails = {
    'Anne Stahl': 'astahl@gmail.com',
    'Peter Small': 'peters@yandex.com',
    'Mark Steel': 'mark@steel.com'
}

In [219]:
print(emails['Mark Steel'])

mark@steel.com

In [220]:
spanish_animals = {
    'dog': 'el perro',
    'cat': 'el gato',
    'horse': 'el caballo',
    'bird': 'el p√°jaro'
     }

In [221]:
print(spanish_animals['bird'])

el p√°jaro

In [222]:
grades = {}

In [223]:
grades['John'] = 'A-'

In [224]:
grades['Anne'] = 'B'

In [226]:
print(grades)

{'John': 'A-', 'Anne': 'B'}

In [227]:
grades.update({'John':'A'})

In [228]:
print(grades)

{'John': 'A', 'Anne': 'B'}

In [229]:
len(grades)

2

In [231]:
len('hello')

5

In [232]:
if 'John' in grades:
    print('John got', grades['John'])

John got A

In [233]:
del grades['John']

In [234]:
print(grades)

{'Anne': 'B'}

In [235]:
grades = {}
grades['John'] = 'A-'
grades['Anne'] = 'B'

In [237]:
for el in grades:
    print(el)

John
Anne

In [238]:
for el in grades.keys():
    print(el)

John
Anne

In [240]:
for el in grades.values():
    print(el)

A-
B

In [241]:
for person, grade in grades.items():
    print(person, 'got', grade)

John got A-
Anne got B

In [300]:
sample_dict = {
    "mouth": "Mund",
    "finger": "Finger",
    "leg": "Bein",
    "hand": "Hand",
    "face": "Gesicht",
    "nose": "Nase"
}

result = input('Enter a word in English or EXIT: ')
if result == 'EXIT':
    print('Bye!')
elif result in sample_dict:
    print('Translation:', sample_dict[result])
else:
    print('Not match!')

Enter a word in English or EXIT:  leg

Translation: Bein

In [301]:
sample_dict = {
    "mouth": "Mund",
    "finger": "Finger",
    "leg": "Bein",
    "hand": "Hand",
    "face": "Gesicht",
    "nose": "Nase"
}
 
while True:
    user_input = input('Enter a word in English or EXIT: ')
    if user_input == 'EXIT':
        break
    if user_input in sample_dict:
        print ('Translation:', sample_dict[user_input])
    else:
        print('No match!')
 
print('Bye!')

Enter a word in English or EXIT:  mouth

Translation: Mund

Enter a word in English or EXIT:  leg

Translation: Bein

Enter a word in English or EXIT:  Mund

No match!

Enter a word in English or EXIT:  EXIT

Bye!

In [309]:
def greet():
    print('Hello, my dear! ')
greet()
greet()
greet()
greet()
greet()

Hello, my dear!
Hello, my dear!
Hello, my dear!
Hello, my dear!
Hello, my dear!

In [ ]:
input_numbers = [5.0, 3.5, 7.8, 9.9, 10.0]
sum = 0.0
for number in input_numbers:
    sum += number
average = sum / len(input_numbers)
print(average)

7.24

In [326]:
input_numbers = [5.0, 3.5, 7.8, 9.9, 10.0]

def get_average (input_numbers):
    sum = 0.0
    for number in input_numbers:
        sum += number
    average = sum / len(input_numbers)

    print(average)
get_average([5.0, 3.5, 7.8, 9.9, 10.0])

7.24

In [327]:
get_average()

TypeError: get_average() missing 1 required positional argument: 'input_numbers'

In [313]:
get_average(5)

TypeError: 'int' object is not iterable

In [319]:
def print_letter_count(text, letter):
    counter = 0
    for char in text:
        if char == letter:
            counter += 1
    print('Number of', letter, 'is', counter)

In [320]:
print_letter_count('Welcome', 'e')

Number of e is 2

In [321]:
print_letter_count('People say nothing is impossible, but I do nothing every day.', 'a')

Number of a is 2

In [322]:
print_letter_count('e', 'Welcome')

Number of Welcome is 0

In [323]:
print_letter_count(text='Welcome', letter='e')

Number of e is 2

In [328]:
print_letter_count(letter='e', text='Welcome')

Number of e is 2

In [329]:
print('Hello', 'How are you?', end='.', sep='-')

Hello-How are you?.

In [331]:
def print_letter_count(text, letter='a'):
    counter = 0
    for char in text:
        if char == letter:
            counter += 1
    print('Number of', letter, 'is', counter)

In [334]:
print_letter_count('how many letters a are here?')

Number of a is 3

In [362]:
#Remember 
# ALL positional args must appear before any named arguments

def print_letter_count(text='This is default',letter='a'):
    counter = 0
    for char in text:
        if char == letter:
            counter += 1
    print('Number of', letter, 'is', counter)

In [363]:
print_letter_count('Salam')

Number of a is 2

In [359]:
print_letter_count()

Number of a is 1

In [364]:
print_letter_count(letter='a', 'Search')

SyntaxError: positional argument follows keyword argument (1632597885.py, line 1)

In [365]:
print_letter_count('Seaarch', letter='a')

Number of a is 2

In [366]:
def show_truth():
    print(mysterious_var)
    
show_truth()

NameError: name 'mysterious_var' is not defined

In [367]:
def show_truth():
    mysterious_var = 'Surprise!'
    print(mysterious_var)
    
show_truth()

Surprise!

In [368]:
def show_truth():
    print(mysterious_var)
mysterious_var = 'Surprise!'
show_truth()

Surprise!

In [370]:
 def show_truth():
    global mysterious_var
    mysterious_var = 'New Surprise!'
    print(mysterious_var)
    
mysterious_var = 'Surprise!'
print(mysterious_var)
show_truth()
print(mysterious_var)

Surprise!
New Surprise!
New Surprise!

In [371]:
 def show_truth():
    global mysterious_var
    mysterious_var = ['New Surprise!']
    print(mysterious_var)
    
mysterious_var = ['Surprise!']
print(mysterious_var)
show_truth()
print(mysterious_var)

['Surprise!']
['New Surprise!']
['New Surprise!']

In [373]:
 def show_truth():
    mysterious_var.append('New Surprise!')
    print(mysterious_var)
    
mysterious_var = ['Surprise!']
print(mysterious_var)
show_truth()
print(mysterious_var)

['Surprise!']
['Surprise!', 'New Surprise!']
['Surprise!', 'New Surprise!']

In [374]:
lenght = len('hello')

In [378]:
number = input('what is number?')

what is number? 5

In [379]:
print_return = print('Hello, World')
print(print_return)

Hello, World
None

In [380]:
x = None

if x:
    print("None is True")
elif x is False:
    print("None is False")
else:
    print("None is not True, or False, None is just None")

None is not True, or False, None is just None

In [383]:
x = None
if x is None:
    print('yes')
if x == None:
    print('it does')

yes
it does

In [384]:
def greet():
    print('hello')

x = greet()
print(x)

hello
None

In [385]:
def get_average (input_numbers):
    sum = 0.0
    for number in input_numbers:
        sum += number
    average = sum / len(input_numbers)
    return average

In [386]:
print('The average is: ', get_average([5.0, 3.5, 7.8, 9.9, 10.0]))

The average is:  7.24

In [388]:
average = get_average([5.0, 3.5, 7.8, 9.9, 10.0])
if average > 5.0:
    print('The average is too high!')

The average is too high!

In [389]:
def get_average (input_numbers):
    sum = 0.0
    for number in input_numbers:
        sum += number
    average = sum / len(input_numbers)
    return average
    print('Show me!')
get_average([2])

2.0

In [390]:
def is_first_last_equal(number_list):
    if (number_list[0] == number_list[-1]):
        return True
    else:
        return False

In [392]:
print(is_first_last_equal([10, 20, 30, 40, 10]))

True

In [393]:
print(is_first_last_equal([10, 20, 30, 40, 50]))

False

In [394]:
print(is_first_last_equal([]))

IndexError: list index out of range

In [395]:
def is_first_last_equal(number_list):
    if len(number_list) == 0:
        return
    if (number_list[0] == number_list[-1]):
        return True
    else:
        return False

In [396]:
print(is_first_last_equal([10, 20, 30, 40, 10]))

True

In [397]:
print(is_first_last_equal([10, 20, 30, 40, 50]))

False

In [398]:
print(is_first_last_equal([]))

None

In [399]:
def unique (dupes):
    new = []
    for x in dupes:
        if x not in new:
            new.append(x)
        else:
            continue
    return(new)
print(unique([1, 1, 4, 5, 1]))

[1, 4, 5]

In [405]:
def unique(input_list=[]):
  to_return = []
  for el in input_list:
    if el not in to_return:
      to_return.append(el)
  return to_return
print(unique([1, 1, 4, 5, 1]))

[1, 4, 5]

In [406]:
print(unique([1, 1, 4, 5, 1]))

[1, 4, 5]

In [407]:
 #factorial
# 3! = 1 * 2 * 3 = 6
# 5% = 1 * 2 * 3 * 4 * 5 = 120

In [415]:
# iterative
def get_factorial(number):
    factorial = 1
    for x in range(1, number + 1):
        factorial *= x
    return factorial

In [416]:
print(get_factorial(6))

720

In [ ]:
1! = 1
2! = 2 * 1!
3! = 3 * 2!
4! = 4 * 3!
5! = 5 * 4!

In [421]:
def get_factorial_recursive(number):
    if number <= 1:
        return 1
    return number * get_factorial_recursive(number -1)

In [422]:
get_factorial_recursive(6)

720

In [424]:
def get_number():
    for i in range(1, 4):
        yield i

In [426]:
print(get_number())

<generator object get_number at 0x7fc730162900>

In [430]:
generator = get_number()
print(next(generator))
print(next(generator))
print(next(generator))
print(next(generator))

1
2
3

StopIteration:

In [431]:
for x in get_number():
    print(x)

1
2
3

In [433]:
numbers = list(get_number())
print(numbers)

[1, 2, 3]

In [436]:
if True:
print('hooray!')

IndentationError: expected an indented block (2872381456.py, line 2)

In [437]:
value = int(input('Enter an integer: '))
print('The inverse of', value, 'is', 1/value)

Enter an integer:  a

ValueError: invalid literal for int() with base 10: 'a'

In [439]:
try:
    value = int(input('Enter an integer: '))
    print('The inverse of', value, 'is', 1/value)
except:
    print('You did not provide a number, so I will not calculate the inverse')

Enter an integer:  q

You did not provide a number, so I will not calculate the inverse

In [441]:
try:
    value = int(input('Enter an integer: '))
    print('The inverse of', value, 'is', 1/value)
except ValueError:
    print('You did not provide a number, so I will not calculate the inverse')
except ZeroDivisionError:
    print('You provided 0 an division by 0 is not possible sorry')

Enter an integer:  a

You did not provide a number, so I will not calculate the inverse

In [446]:
try:
    value = int(input('Enter an integer: '))
    print('The inverse of', value, 'is', 1/value)
except ValueError:
    print('You did not provide a number, so I will not calculate the inverse')
except ZeroDivisionError:
    print('You provided 0 an division by 0 is not possible sorry')
except:
    print('Something strage happened here, sorry')

Enter an integer:  sad

You did not provide a number, so I will not calculate the inverse

In [450]:
import sys

user_name = input('What is your name? ')
if user_name == '':
    print('Empty name? I cannot work with that. I am closing the program. Bye!')
    sys.exit()
print('Hello,', user_name)
print('Let us get started...')

What is your name?

Empty name? I cannot work with that. I am closing the program. Bye!

SystemExit:

/Users/imamma/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3465: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [451]:
programming_language = ["Java", "Python", "C++"]
print(programming_language[10])

IndexError: list index out of range

In [457]:
def calculate_inverse(number):
    assert (number != 0), 'Got 0 as a number!'
    return 1/number
calculate_inverse(5)

0.2

In [458]:
def do_magic(a = 0):
    print(a)

In [462]:
print(do_magic(3))

3
None

In [463]:
def func(x):
  if x == 0:
    return 0
  return x + func(x - 1)
 
print(func(3))

6

In [465]:
None == False

False

In [467]:
print("+" + 10 * "-" + "+")
print(("|" + " " * 10 + "|\n") * 5, end="")
print("+" + 10 * "-" + "+")

+----------+
|          |
|          |
|          |
|          |
|          |
+----------+