In [2]:
height_cm = float(input(' Height converter: enter your height in cm: '))
print('Your height in feet is:', height_cm / 30.48)

 Height converter: enter your height in cm:  168

Your height in feet is: 5.511811023622047

In [16]:
year_born = int(input('What year were you born'))
print('In 2100, you will be', 2100 - year_born, 'years old, provided you live this long!')

What year were you born 12

In 2100, you will be 2088 years old, provided you live this long!

In [17]:
temp_c = input('Enter the temprature today in Celsius degrees: ')
temp_f = float(temp_c) * 1.8 + 32
temp_statement = str(temp_c ) + ' degrees Celsius equals ' + str(temp_f) + 'degrees Farenheit.'
print(temp_statement)

Enter the temprature today in Celsius degrees:  12

12 degrees Celsius equals 53.6degrees Farenheit.

In [20]:
hours = int(input('How many hours did you work last month? '))
hourly_rate = float(input('What is your hourly rate? '))
print('Last month, you earned', hours * hourly_rate, 'dollars')

How many hours did you work last month?  12
What is your hourly rate?  12

Last month, you earned 144.0 dollars

In [21]:
5 + 7

12

In [22]:
5 -7

-2

In [25]:
print(+12)

12

In [26]:
print(-2)

-2

In [23]:
(2+3)*2

10

In [27]:
print(0.1 + 0.1 + 0.1)

0.30000000000000004

In [28]:
2 ** 2 ** 3

256

In [29]:
len('Hello!')

6

In [37]:
print('Hello, World', end='!. ')
print('Python Speaking')

Hello, World!. Python Speaking

In [46]:
first_name = 'John'
print('Your', 'first', 'name', 'is', first_name, 'Welcome!', sep='-', end='!')

Your-first-name-is-John-Welcome!!

In [47]:
1 //6

0

In [49]:
user_age = int(input('What is your age? '))
if user_age > 30:
     print('You are over 30 years old')
     print('Sorry you do not qualify')
elif user_age == 30:
     print('You are exactly 30 years old')
     print('You will need to meet additional conditions to qualify')
else:
    print('You are 30 years old or younger')
    print('Congratulations, you qualify')

What is your age?  3

You are 30 years old or younger
Congratulations, you qualify

In [2]:
secret_number = 14
print('''
==========================
=== SECRET NUMBER GAME ===
==========================
''')
user_input = int(input('Try to guess the secret number from 0 to 20: '))
while user_input != secret_number:
    print('Wrong!')
    user_input = int(input('Try to guess my secret number from 0 to 20'))
print('Perfect! You have guessed the secret number.')

==========================
=== SECRET NUMBER GAME ===
==========================

Try to guess the secret number from 0 to 20:  1

Wrong!

Try to guess my secret number from 0 to 20 14

Perfect! You have guessed the secret number.

In [25]:
for i in 'natavan':
    print('Pokka :', i)

Pokka : n
Pokka : a
Pokka : t
Pokka : a
Pokka : v
Pokka : a
Pokka : n

In [1]:
counter = 1
while counter < 11:
     print(counter)
     counter +=1
print('Finished')

1
2
3
4
5
6
7
8
9
10
Finished

In [14]:
for counter in range(1, 12, 2):
    print(counter)
print('Finished!')

1
3
5
7
9
11
Finished!

In [16]:
while True:
    name = input('Enter your name or EXIT to close program: ')
    if (name == 'EXIT'):
        break
    print('Hello',name)

Enter your name or EXIT to close program:  ilkin

Hello ilkin

Enter your name or EXIT to close program:  exit

Hello exit

Enter your name or EXIT to close program:  Ilkin

Hello Ilkin

Enter your name or EXIT to close program:  EXIT

In [29]:
for ilkin in range(1, 27):
    if ilkin % 5 == 0:
        continue
    print(ilkin)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24
26

In [32]:
for i in range(11):
    pass

In [8]:
for a in range(1,10):
    for b in range(1, 10):
         print(a, 'x', b, '=', a * b)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [9]:
print()

In [14]:
print("I'm studying Python",'and having fun')

I'm studying Python and having fun

In [20]:
print("I'm studying Python", 'and\nhaving fun')

I'm studying Python and
having fun

In [44]:
input('What you add for true?')
if greeting == smoke:
    print('Good')
else:
    print('wrong')

What you add for true? smoke

NameError: name 'smoke' is not defined

In [ ]:
3e-37 = 3*10ustu37
3e78 = 3*1078
48e98 = 48 * 1098
43e-13 = 43 * 1/13ustu10

In [250]:
i = 2
while i < 5:
    print(i)
    i += 1
else:
    print('else:', i)

2
3
4
else: 5

In [251]:
for a in range(1,6):
    for b in range(1, 6):
         print(a, 'x', b, '=', a * b)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25

In [ ]:

user_input = int(input('Try to guess the secret number from 0 to 20: '))
while user_input != secret_number:
    print('Wrong!')
    user_input = int(input('Try to guess my secret number from 0 to 20'))
print('Perfect! You have guessed the secret number.')

In [ ]:

correct_answer = 1994
user = int(input('When was Python 1.0 released? '))
while True:
    
    if correct_answer < user:
        print('It was earlier than that! ')
    elif correct_answer == user:
        print('Correct! ')
    else correct_answer > user:
        print('It was later than that! ')

In [ ]:
correct_answer = 1994
user = int(input('When was Python 1.0 released? '))

while user != correct_answe
    print('When was Python 1.0 released? ')
    user = int(input('When was Python 1.0 released?'))
print('Perfect! You have guessed the secret number.')

In [ ]:
x = 1
x = x == x

In [30]:
a = 5
b = 1
c = a > b or b < a and a == 1
print(c)

True

In [ ]:
for x in 'i am having fun today':
    print(x)

In [20]:
p_day = int(input('How many days ago have you purchased the item? '))
used  = input('Have you used the item at all [y/n]? ')
broken = input('Has the item broken down on its own [y/n]? ')

if p_day < 10 and used == 'y' or broken == 'y':
    print('You can get a refund. ')
else:
    print('You cannot get a refund. ')

How many days ago have you purchased the item?  9
Have you used the item at all [y/n]?  n
Has the item broken down on its own [y/n]?  n

You cannot get a refund.

In [24]:
for i in 'hello!':
    print('Current letter: ', i)

Current letter:  h
Current letter:  e
Current letter:  l
Current letter:  l
Current letter:  o
Current letter:  !

In [29]:
counter = 1
while counter < 11:
    print(counter)
    counter += 1
print('Finished')

1
2
3
4
5
6
7
8
9
10
Finished

In [32]:
for counter in range(1, 11):
    print(counter)
print('Finished')

1
2
3
4
5
6
7
8
9
10
Finished

In [37]:
while True:
    name = input('Enter your name or to close type EXIT ')
    if (name == 'EXIT'):
        break
    print('Hello', name)

Enter your name or to close type EXIT  asdas

Hello asdas

Enter your name or to close type EXIT  EXIT

In [39]:
for i in range(1, 21):
    if i % 5 == 0:
        print(i)

5
10
15
20

In [51]:
for a in range(1, 6):
    for b in range(1, 9):
        print(a, 'x', b, '=', a * b)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40

In [52]:
city_1 = 'New York City'
city_2 = 'Los Angeles'
city_3 = 'Chicago'
city_4 = 'Houston'
city_5 = 'Phoenix'
empty_list = []

In [53]:
top_cities = ['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
print(top_cities)

['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']

In [57]:
top_cities[-5]

'New York City'

In [58]:
top_cities[0]

'New York City'

In [59]:
top_cities[:3]

['New York City', 'Los Angeles', 'Chicago']

In [421]:
top_cities[-1:1:-1]

NameError: name 'top_cities' is not defined

In [424]:
book_ratings = [7, 9, 5, 6, 8]
book_ratings.append(4)
print(book_ratings)

[7, 9, 5, 6, 8, 4]

In [64]:
del book_ratings[5]

In [430]:
print(book_ratings)

[7, 9, 5, 6, 8, 4]

In [431]:
book_ratings[-1:1:-2]

[4, 6]

In [66]:
book_ratings = [7, 9, 5, 6, 8]
book_ratings.insert(1, 4)
print(book_ratings)

[7, 4, 9, 5, 6, 8]

In [69]:
top_cities = ['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
for city_index in range(len(top_cities)):
    print('Current index:', city_index, '| Current city:', top_cities[city_index], )

Current index: 0 | Current city: New York City
Current index: 1 | Current city: Los Angeles
Current index: 2 | Current city: Chicago
Current index: 3 | Current city: Houston
Current index: 4 | Current city: Phoenix

In [70]:
spendings = [32.45, 18.65, 23.45, 78.32, 5.23]
sum = 0.0
for spending in spendings:
    sum += spending
print('Money spent:', sum)

Money spent: 158.1

In [74]:
first  = input('Enter first number')
second = input('Enter second number')
print('Before swapping:', first, second)
temporary = first
first  = second
second = temporary
print('After swapping:', first, second)

Enter first number 10
Enter second number 20

Before swapping: 10 20
After swapping: 20 10

In [77]:
top_cities = ['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
top_cities[0], top_cities[4] = top_cities[4], top_cities[0]
print(top_cities)

['Phoenix', 'Los Angeles', 'Chicago', 'Houston', 'New York City']

In [85]:
top_cities = ['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
top_cities.sort()
print(top_cities)

['Chicago', 'Houston', 'Los Angeles', 'New York City', 'Phoenix']

In [87]:
top_cities = ['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
print(sorted(top_cities)) # keeps original list
print(top_cities)

['Chicago', 'Houston', 'Los Angeles', 'New York City', 'Phoenix']
['New York City', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']

In [92]:
invited_guests = ['Kate', 'Adam', 'Kerry', 'Joe', 'Anne', 'Marie']
name = input('What is your name? ')
if name not in invited_guests:
    print('Welcome!')
else:
    print('You are not invited!')

What is your name?  Ilkin

Welcome!

In [93]:
name_original = 'John Snow'
name_new = name_original
name_original = 'Daenerys Targaryen'
print(name_original, name_new)

Daenerys Targaryen John Snow

In [102]:
list_original = [1, 2, 3]
list_new = list_original[:]   # For keep original list add slicing [:]
list_original[0] = -5
print('Original:', list_original, '\nNew', list_new)

Original: [-5, 2, 3]
New [1, 2, 3]

In [2]:
numbers = []
for i in range(1, 101):
    numbers.append(i)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [5]:
numbers = [i for i in range(1, 101)]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [12]:
numbers = [i for i in range(1, 101) if i % 3 == 0]
print(numbers)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [31]:
cells = [['A1', 'A2', 'A3'], ['B1', 'B2', 'B3']]
for i in cells:
    print('Example:', i)

Example: ['A1', 'A2', 'A3']
Example: ['B1', 'B2', 'B3']

In [34]:
cells = [['A1', 'A2', 'A3'], ['B1', 'B2', 'B3']]
for i in cells:
    for x in i:
        print(x, '', end='')
    print()

A1 A2 A3
B1 B2 B3

In [42]:
table = [[i for i in range(1, 6)] for j in range(4)]
print(table)

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]

In [43]:
list_us = ['New York City', 'Chicago']
list_uk = ['London', 'Bristol']
list_all = list_us + list_uk
print(list_all)

['New York City', 'Chicago', 'London', 'Bristol']

In [45]:
list_numbers = [0, 1] * 2
print(list_numbers)

[0, 1, 0, 1]

In [62]:
fav_band = 'Green Day'
print(fav_band[5])

In [63]:
print(fav_band[6:])

Day

In [64]:
text = ('PLease capitlise me')
text_cap = text.upper()
print(text_cap)

PLEASE CAPITLISE ME

In [66]:
user_number = input('Please provide a number: ')
if user_number.isnumeric():
    print('Thank you that\'s a correct number')
else:
    print('Sorry,', user_number, 'is not a number')

Please provide a number:  awd

Sorry, awd is not a number

In [67]:
user_data = ('John', 'American', 1964)
user_data = ('Katya', 'Russian', 1980)

In [69]:
print(user_data[0])

Katya

In [72]:
user_data = ('John', 'American', 1964)
if 'American' in user_data:
    print("This person comes from US")

This person comes from US

In [73]:
user_data = ('John', 'American', 1964)
for element in user_data:
    print(element)

John
American
1964

In [75]:
city_1 = ('London', 'UK', 8.98)

In [76]:
city_2 = ('Canberra', 'Australlia', 0,4)

In [77]:
city_3 = ('Algiers', 'Algeria', 3.9)

In [79]:
capitals = [('London', 'UK', 8.98), ('Canberra', 'Australlia', 0,4), ('Algiers', 'Algeria', 3.9)]

In [82]:
for capital in capitals:
    print('Name:', capital[0], ', Country:', capital[1], ', Population:', capital[2])

Name: London , Country: UK , Population: 8.98
Name: Canberra , Country: Australlia , Population: 0
Name: Algiers , Country: Algeria , Population: 3.9

In [92]:
user_data = ('John', 'American', 1964, [77.8, 55.6, 76.4])

In [99]:
user_data[3].append(777777.7)

In [105]:
#del user_data[3][3]
print(user_data)

('John', 'American', 1964, [77.8, 55.6, 76.4, 777777.7])

In [ ]:

connections = [
    ('Amsterdam', 'Dublin', 100),
    ('Amsterdam', 'Rome', 140),
    ('Rome', 'Warsaw', 130),
    ('Minsk', 'Prague', 95),
    ('Stockholm', 'Rome', 190),
    ('Copenhagen', 'Paris', 120),
    ('Madrid', 'Rome', 135),
    ('Lisbon', 'Rome', 170),
    ('Dublin', 'Rome', 170),
    ]

city_from = 0
city_to   = 0
time      = 0

In [106]:
emails = {
    'Anne Stahl': 'astahl@gmail.com',
    'Peter Small': 'peters@yandex.com',
    'Mark Steel': 'mark@steel.com'
}

In [107]:
print(emails['Mark Steel'])

mark@steel.com

In [108]:
spanish_animals = {
    'dog': 'el perro',
    'cat': 'el gato',
    'horse': 'el caballo',
    'bird': 'el pájaro'
     }

In [110]:
print(spanish_animals['bird'])

el pájaro

In [125]:
spanish_animals = {
    'dog': 'el perro',
    'cat': 'el gato',
    'horse': 'el caballo',
    'bird': 'el pájaro',
    'bird': 'el ave'
     }
print(spanish_animals['el perro'])

KeyError: 'el perro'

In [113]:
print(spanish_animals)

{'dog': 'el perro', 'cat': 'el gato', 'horse': 'el caballo', 'bird': 'el ave'}

In [115]:
print(spanish_animals['dog'])

el perro

In [116]:
grades = {}

In [117]:
grades['John'] = '-A'

In [118]:
grades['Anne'] = 'B'

In [119]:
print(grades)

{'John': '-A', 'Anne': 'B'}

In [127]:
grades.update({'John':'A'})

In [132]:
grades['Anne'] = 'C'

In [133]:
print(grades)

{'John': 'A', 'Anne': 'C'}

In [134]:
if 'John' in grades:
    print('John got', grades['John'])

John got A

In [135]:
del grades['John']
print(grades)

{'Anne': 'C'}

In [170]:
grades = {}
grades['John'] = 'A-'
grades['Anne'] = 'B'
print(grades)

{'John': 'A-', 'Anne': 'B'}

In [163]:
for el in grades:
    print(el)

John
Anne

In [167]:
for i in grades.values():
    print(i)

A-
B

In [171]:
for p, g in grades.items():
    print(p, 'got', g)

John got A-
Anne got B

In [180]:
def Salam():
    print('Salam Kele')

In [181]:
Salam()

Salam Kele

In [188]:
input_numbers = [5.0, 3.5, 7.8, 9.9, 10.0]
sum = 0.0
for number in input_numbers:
    sum += number
average = sum / len(input_numbers)
print(average)

7.24

In [206]:
def average(input_numbers):
    sum = 0.0
    for number in input_numbers:
        sum += number
    average = sum / len(input_numbers)
    print(average)
average([5.0, 3.5, 7.8, 9.9, 10.0])

7.24

In [207]:
average([5.0, 3.5, 7.8, 9.9, 10.0])

7.24

In [211]:
def print_letter_count(text, letter):
    counter = 0
    for char in text:
        if char == letter:
            counter += 1
    print('Number of', letter, 'is', counter)

In [212]:
print_letter_count('People say nothing is impossible, but I do nothing every day.', 'a')

Number of a is 2

In [215]:
print_letter_count('e', 'People say nothing is impossible, but I do nothing every day.')

Number of People say nothing is impossible, but I do nothing every day. is 0

In [216]:
print_letter_count(letter='e', text='Welcome')

Number of e is 2

In [217]:
print_letter_count(text='Welcome', letter='e')

Number of e is 2

In [226]:
print('Hello', 'How are you', end='?', sep='-')

Hello-How are you?

In [279]:
def print_letter_count(text='This is defaault string to search', letter='a'):
    counter = 0
    for char in text:
        if char == letter:
            counter += 1
    print('Number of', letter, 'is', counter)

In [272]:
print_letter_count('How mny letters a are here?')

Number of a is 2

In [274]:
print_letter_count()

Number of a is 3

In [283]:
print_letter_count('Seaarch here', letter='a')

Number of a is 2

In [278]:
print_letter_count(letter='e', text='Welcome')

Number of e is 2

In [385]:
def show_truth():
    global mysterious_var
    mysterious_var = 'New Surprise!'
    print(mysterious_var)
mysterious_var = 'Surprise!!'
print(mysterious_var)
show_truth()
print(mysterious_var)

Surprise!!
New Surprise!
New Surprise!

In [295]:
 def show_truth():
    #global mysterious_var
    mysterious_var.append('New Surprise!')
    print(mysterious_var)
    
mysterious_var = ['Surprise!']
print(mysterious_var)
show_truth()
print(mysterious_var)

['Surprise!']
['Surprise!', 'New Surprise!']
['Surprise!', 'New Surprise!']

In [296]:
show_truth()

['Surprise!', 'New Surprise!', 'New Surprise!']

In [297]:
number = input('what is number')

what is number 5

In [298]:
print(number)

5

In [299]:
print_return = print('Hello World')
print(print_return)

Hello World
None

In [300]:
x = None

if x:
    print("None is True")
elif x is False:
    print("None is False")
else:
    print("None is not True, or False, None is just None")

None is not True, or False, None is just None

In [301]:
x = None
if x is None:
    print('yes')
if x == None:
    print('it does')

yes
it does

In [302]:
def greet():
    print('hello')
x = greet()
print(x)

hello
None

In [318]:
def get_average(input_numbers):
    sum = 0.0
    for number in input_numbers:
        sum += number
    average = sum / len(input_numbers)
    return average
get_average([2])

2.0

In [310]:
print ('The avrage is: ', get_average([5.0, 3.5, 7.8, 9.9, 10.0]))

The avrage is:  7.24

In [317]:
average = get_average([5.0, 3.5, 7.8, 9.9, 10.0])
if average > 5.0:
    print('The average is too high')
else:
    print('The average is ok')

The average is too high

In [330]:
def is_first_last_equal(number_list):
    if len(number_list) == 0:
        return
    if (number_list[0] == number_list[-1]):
        return True
    else:
        return False

In [326]:
print(is_first_last_equal([10, 20, 30, 40, 10]))

True

In [327]:
print(is_first_last_equal([10, 20, 30, 40, 50]))

False

In [331]:
print(is_first_last_equal([]))

None

In [353]:
#num_unique  = ([1, 1, 4, 5, 1])
#text_unique = (['Mark', 'Mark', 'John', 'Anne'])

def unique(input_list=[]):
  to_return = []
  for el in input_list:
    if el not in to_return:
      to_return.append(el)
  return to_return

In [355]:
print(unique(['Mark', 'Mark', 'John', 'Anne']))

['Mark', 'John', 'Anne']

In [356]:
print(unique([1, 1, 4, 5, 1]))

[1, 4, 5]

In [358]:
def get_factorial(number):
    factorial = 1
    for x in range(1, number +1):
        factorial *= x
    return factorial

In [360]:
print(get_factorial(5))

120

In [384]:
def get_number():
    for i in range(4):
        yield i
generator = get_number()
print(next(generator))
print(next(generator))
print(next(generator))
print(next(generator))

for x in get_number():
    print(x)
    
number = list(get_number())
print(number)

Indent

0
1
2
3
0
1
2
3
[0, 1, 2, 3]

NameError: name 'Indent' is not defined

In [376]:
for x in get_number():
    print(x)

1
2
3

In [377]:
number = list(get_number())
print(number)

[1, 2, 3]

In [379]:
if True:
print('hooray!')

IndentationError: expected an indented block (2872381456.py, line 2)

In [380]:
try:
  5:4 # this line generates a SyntaxError
except:
  print('Got it!') # SyntaxError is NOT caught here

SyntaxError: illegal target for annotation (1285277903.py, line 2)

In [381]:
def numerical():
  for i in range(10):
    yield i%2
 
for x in numerical():
  print(x, end='-')

0-1-0-1-0-1-0-1-0-1-

In [382]:
def my_fun(x):
  try:
    return x / x
  except:
    print('ex')
 
my_fun(1)
my_fun(0)

ex

In [383]:
def func(mylist):
    mylist[2]='green'
 
lst = ['black', 'white', 'red', 'orange']
func(lst)
print(lst)

['black', 'white', 'green', 'orange']

In [392]:
txt = " Hello World "
x = txt.strip()
print(x)

Hello World

In [388]:
txt = " Hello World "
print(txt)

 Hello World

In [393]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [394]:
print(10 > 9)

True

In [395]:
print(bool("abc")) -- Nata

True

In [401]:
for i in range(1,3):
    print("*",end="")

print("#")

**#

In [402]:
a=[1]
b=a
a[0]=0
print(a)
print(b)

[0]
[0]

In [413]:
s = 'abc'
print(len(['abc', 'asd']))

2

In [417]:
s = ['a','b','c']
s[0] = s[0].upper()
print(s)

['A', 'b', 'c']

In [419]:
for i = 5:
    3 +

SyntaxError: invalid syntax (1301382991.py, line 1)

In [434]:
x = 1
y = 1.0
z = "1"

if x == y:
    print("one")
if y == int(z):
    print("two")
elif x == y:
    print("three")
else:
    print("four")

one
two

In [436]:
x = 1
y = 1.0
z = "1"

if y == int(z):
    print("two")
elif x == y:
    print("three")
else:
    print("four")

two